body {
	/*background-color: #D5F1FF;original*/
	/*background-color: #0099ff;warm blue*/
	/*background-color: #9966cc;rich almost velvety purple*/
	/*background-color: #339999;teal*/
	/*background-color: #D4D0C8;smooth windows grey*/
	/*background-color: #cc3300;clashing red*/
	/*background-color: #ff9900;crass orange*/
	/*background-color: #99cc33;Rich green*/
	/*background-color: #EEEEE0;*/
	/*background-color: #738059;*/
	/*background-color: #B8CC8F;*/
	background-color: #738059;
	/*font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;*/
	font-family: "Trebuchet MS",  "Times New Roman", Serif;
}

h1 {
    border-width: 0px;
    color: #000000;
    padding: 5px;
    margin: 5px 5px 5px 5px;
    text-shadow: 2px 2px 2px #aaa;
}

h3 {
    /* Reduce the amount of space after section headings */
    margin-bottom: -15px;    
}

p {
    color: #000000;
    background-color: #ffffff;
}

a {
    color:#000000;
}

a:hover {
    text-decoration: none;
}
